<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">
    <servlet>
        <servlet-name>helloservlet</servlet-name>
        <servlet-class>xyz.vaith.servlet.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloservlet</servlet-name>
        <url-pattern>/helloservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>hellohttpservlet</servlet-name>
        <servlet-class>xyz.vaith.servlet.HelloHttpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hellohttpservlet</servlet-name>
        <url-pattern>/hellohttpservelet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletlifecycle</servlet-name>
        <servlet-class>xyz.vaith.servlet.ServletLifeCycle</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>servletlifecycle</servlet-name>
        <url-pattern>/slc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sc</servlet-name>
        <servlet-class>xyz.vaith.servlet.HelloServletConfig</servlet-class>
        <init-param>
            <param-name>address</param-name>
            <param-value>hello address</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>vaith</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>sc</servlet-name>
        <url-pattern>/sc</url-pattern>
    </servlet-mapping>
</web-app>
